#app-nav{
  border-radius: 0;
  position: fixed;
  bottom: 0;
  z-index: 2;

  @media (min-width: $screen-sm-min){
    height: 4.6em;
    position: relative;
  }

  .fa{ 
    font-size: 3rem; 
    height: 100%;
    margin-top: .2rem;

    @media (min-width: $screen-sm-min){
      margin-top: 0;
    }

    &:before{ vertical-align: middle; }
  }

  li{
    @media (min-width: $screen-sm-min){ height: 4.5em; }
    @extend .col-xs-2;
  }

  & + .tab-bar-push{
    @media (min-width: $screen-sm-min){ height: 4.6em; }
  }
}