.tab-bar{  
  margin-bottom: 0;
  width: 100%;
  height: 49px;

  &.navbar-fixed-top{ top: inherit; }

  @media (min-width: $screen-sm-min){
    &.navbar-fixed-top{ 
      position: fixed !important;
      top: 0; 
    }
  }

  .container-fluid{ height: 50px; }

  ul{ 
    margin: 0; 
    height: 50px;
  }

  li{
    padding: 0;
    height: 50px;
    vertical-align: top;
  }

  a{ 
    height: 100%; 
    margin: 0 auto;
    max-width: 10em;
  }
}

.tab-bar-push{
  content: '';
  display: none;

  &.show{ display: block; }
}