<h2 class="white hard-shadow">Billing Info</h2>

<form>
  <section class="space-bottom">
    <input class="floatlabel styled bg-blue-light-a" type="text" placeholder="Name on Card" />

    <input class="floatlabel styled bg-blue-light-a" type="text" placeholder="CC #" />

    <section class="input-row">
      <input class="floatlabel styled bg-blue-light-a margin-right" data-label="MM/YY" data-wrapper="inline" type="text" placeholder="Expiration Date" /><input class="floatlabel styled bg-blue-light-a margin-left" data-wrapper="inline float-right" type="text" placeholder="Sec Code" />
    </section>
  </section>

  <section class="submit clearfix">
    <input class="btn fat btn-primary btn-lg float-right" type="submit" value="Update" />
  </section>
</form>