<section class="space-bottom">
  <h2 class="white hard-shadow">Cancel My Account</h2>
  <p>Cancel account info goes here. Maybe consider talking to our <a>help support</a> before cancelling?</p>
</section>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-lg fat btn-hollow' %>