<% content_for :head do %>
  <script type='text/javascript'>
    
  </script>

<% end %>
<div id="my-account" class="app-page splash full-page-app">
  <div class="outer-container short clearfix">
    <section class="form-details col-md-9 tab-content">

      <section class="tab-pane" id="user-info">
        <%= render :partial=>"devise/registrations/user_info" %>
      </section>

      <section class="tab-pane" id="billing-info">
        <%= render :partial=>"devise/registrations/billing_info" %>
      </section>

      <section class="tab-pane" id="close-account">
        <%= render :partial=>"devise/registrations/cancel_account" %>
      </section>
      
    </section>
    <section class="filters col-md-3">
      <ul class="underline-list" role="tablist">
        <li><a class="white hard-shadow" href="#user-info" role="tab" data-toggle="tab">My Account</a></li>
        <li><a class="white hard-shadow" href="#billing-info" role="tab" data-toggle="tab">Billing Info</a></li>
        <li><a class="white hard-shadow" href="#close-account" role="tab" data-toggle="tab">Close Account</a></li>
      </ul>
    </section>
  </div>
</div>