#calendar-page{
  .title{ margin-bottom: .4em; }
  .calendar-title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    margin: 0;
  }

  #calendar{ margin-bottom: 3em; }

  .recipient{ width: 30%; }
  .message{ width: 50%; }
  .edit{ width: 20%; }
}