header#main-nav{
  height: 11.2rem;
  border-bottom: 1px solid $eggshell;
  box-shadow: 0px 2px 0px white;

  section{
    position: absolute;
  }

  .logo{
    left: 12px;
    width: 33%;
    max-width: 300px;
  }
}

.simpleremind-logo img{
  width: 100%;
}