#login-pricing{
  margin-bottom: 3em;
  padding: 0 5em;
  max-width: 400px;

  @media (min-width: $screen-sm-min){
    margin-bottom: 2em;
  }
}

#sign-up-splash{
  padding-top: 3em;

  &:after{
    @include at2x('sign-up-splash', jpg, cover, cover);
  }

  & span.slabtext:first-child{
    &:after, &:before { color: $blue-light; }
  }
}