.btn-main{
  color: white;
  background-color: $blue-main;
  border: 1px solid $blue-main;

  &:hover{
    background-color: white;
    color: $blue-main;
  }
}

.btn-alt{
  color: $blue-main;
  background-color: white;
  border: 1px solid $gray-main;

  &:hover{
    border-color: $blue-main;
    background-color: $blue-main;
    color: white;
  }
}