footer#page-footer{
  padding: 40px 0;
  text-align: center;
  margin-bottom: 10rem;

  span, small{
    letter-spacing: .4rem;
  }

  span{
    display: block;
    font-weight: lighter;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  small { font-size: 1rem; }
}

#footer-nav{
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
  line-height: 6rem;

  li{
    font-size: 1.8rem;
    margin-right: 4rem;
    font-weight: bold;
    letter-spacing: .4rem;

    &:last-of-type{
      margin-right: 0;
    }

    @media (max-width: 640px){
      &:first-of-type{
        margin-left: 4rem;
      }
    }
  }
}

#tennium-logo img{
  width: 140px;
  margin-bottom: 20px;
}