html{
  @media (max-width: $screen-sm-min){
    font-size: 52.5%;
  }

   @media (max-width: $screen-xs-min){
    font-size: 42.5%;
  }
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: inherit;
  }
}