html{
  @media (max-width: 768px){
    font-size: 52.5%;
  }

   @media (max-width: 480px){
    font-size: 42.5%;
  }
}
.splash{
  position: relative;
  width: 100%;
  background-color: rgba(120,137,145,1);

  & > *{
    z-index: 1;
  }

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .35;
  }
}

.info-bar{
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 5rem 0;
}

.call-to-action{
  span, i { 
    color: $blue-s-light; 
    font-size: 2.4rem;
  }
  span{ 
    font-weight: lighter;
    letter-spacing: .2rem;
  }
}

.scroll-down{
  text-align: center;
  @extend .center-horizontal;
  bottom: 24px;
  span, i { display: block; }
  span{ margin-bottom: 12px;}
  i{ font-size: 4rem; }
}

.gist{
  position: relative;
  text-align: center;
  padding: 6rem 0 10rem;

  .icons{ margin-bottom: 24px; }

  .dash{ 
    width: 18rem;
    height: 10rem;
    margin-right: 2.4rem; 

    @media (max-width: 480px){
      width: 8rem;
      margin-right: 1.4rem;

      line{
        transform: translateY(3rem);
      }
    }
  }

  p{
    font-style: italic;
    font-size: 3rem;
    line-height: 5rem;
    max-width: $max-width-small;
    @extend .center-horizontal-rel;
  }
}

.icon-bullet-points{
  text-align: center;
  padding: 18rem 0 8rem;

  @media (max-width: 480px){
    padding: 8rem 0 6rem;
  }

  li{
    margin-bottom: 6rem;
  }

  i{
    width: 18rem;
    height: 18rem;
    position: relative;
    margin-bottom: 6rem;

    &:before{
      @extend .center-absolute;
    }
  }

  h3{ margin-bottom: 4rem; }

  p{ 
    font-size: 2rem;
    line-height: 3rem;
    font-weight: lighter;
  }
}

.block-brace span.slabtext:first-child{
  position: relative;

  &:before, &:after{
    position: absolute;
    top: 0;
    font-size: 6em;
    line-height: .6em;
    font-weight: lighter;
  }

  &:before{
    content:'{';
    left: 0;
    transform: translateX(-75%);
  }

  &:after{
    content: '}';
    right: 0;
    transform: translateX(75%);
  }
}