header#main-nav{
  height: 112px;
  border-bottom: 1px solid $eggshell;
  box-shadow: 0px 2px 0px white;

  section{
    position: absolute;
  }

  .logo{
    left: 0;
  }
}

#simpleremind-logo img{
  width: 300px;
}

#user-nav{
  right: 0;

  .btn{
    min-width: 90px;
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 12px;

    &:last-child{
      margin-right: 0;
    }
  }
}