.login{
  padding: 1.2rem;

  &.modal-window{ 
    width: 100%;
    background-color: $blue-x-light; 

    .alt-login-option{
      margin-top: 2em;
    }
  }

  &.page section{ margin-bottom: 3em; }

  h2{
    text-align: center;
    margin-bottom: 2rem;
  }

  input, a.btn{
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    padding: 1.4rem 1.2rem;
    border-radius: 2px;

    &.short{ 
      width: 46%;

      &.margin-right{
        margin-right: 4%;
      }
      
      &.margin-left{
        margin-left: 4%;
        vertical-align: top;
      }
    }
  }

  .label-floatlabel.margin-left{ margin-left: 8%; }

  input[type=email], input[type=password], input[type=text]{
    margin-bottom: 1rem;
    color: white;
    box-shadow: 0 -2px 0 $blue-main;
    border: none;
    @include input-placeholder{
      color: white;
      text-transform:capitalize;
    }
  }

  input[type=submit]{
    margin: 1em 0;
  }
}

.remember-me label, .forgot-password{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.remember-me{

  input[type=checkbox] {
    visibility: hidden;

    &:checked{
      & + label:before{ background-color: white; }
      & + label:after{ 
      color: $blue-main;
      left: .2em;
    }
    }
  }

  label{
    margin-left: 2rem;

    &:before, &:after{
      content: '';
      position: absolute;
      border-radius: 3px;
    }

    &:before{
      width: 2.4rem;
      height: 2.4rem;
      border: 1px solid white;
      left: .2rem;
      margin-top: -.25rem;
    }

    &:after{
      content: "\f00c";
      font-family: FontAwesome;
      left: -99999px;
      margin-top: -.25em;
    }
  }
}

.forgot-password{
  padding-top: 1.8rem;

  a{
    border-bottom: 2px solid white;

    &:hover{
      text-decoration: none;
    }
  }
}

#login-pricing{
  margin-bottom: 3em;
  padding: 0 5em;
  max-width: 400px;

  @media (min-width: $screen-sm-min){
    margin-bottom: 1em;
  }

  @media (min-width: $screen-md-min){
    margin-bottom: 0;
  }
}

#sign-up-splash{
  padding-top: 3em;

  &:after{
    background-image: url('sign-up-splash.jpg');
  }

  & span.slabtext:first-child{
    &:after, &:before { color: $blue-light; }
  }
}