.modal {
  display: none;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 0 10px #000;
  max-width: 480px;;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  overflow: visible;
  animation: smooth-entry 1s;

  a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: image-url('close.png') no-repeat 0 0;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
  }
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: image-url('spinner.gif') #111 no-repeat center center;
  border-radius: 8px;
  z-index: 9999;
}