<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="month"><%= month_name %></span>
<% if (events.length > 0) { %>
  <% var pending = 0 %>
  <% var failed = 0 %>
  <% var delivered = 0 %>
  <% _.each(events, function(event) { %>
      <% if (event.class == 'pending') { %>
        <% pending++ %>
      <% } %>
      <% if (event.class == 'failed') { %>
        <% failed++ %>
      <% } %>
      <% if (event.class == 'delivered') { %>
        <% delivered++ %>
      <% } %>
  <% }); %>
	<small class="cal-events-num badge pending pull-left"><%= pending %></small>
  <small class="cal-events-num badge failed pull-left"><%= failed %></small>
  <small class="cal-events-num badge delivered pull-left"><%= delivered %></small>
	<div class="hide events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
		<% _.each(events, function(event) { %>
			<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
				class="pull-left event <%= event['class'] %> event<%= event.id %>" data-toggle="tooltip"
				title="<%= event.recipient %>"></a>
		<% }); %>
	</div>
<% } %>
