.outer-container{
    @include clearfix;
    position: relative;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.fill-horizontal{ width: 100%; }
.fill-vertical{ height: 100%; }

.center-vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-vertical-rel{ 
  margin-top: 50%;
  transform: translateY(-50%);
}