// Global
.outer-container{
    @include clearfix;
    position: relative;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inline-list li{ display: inline-block; }

// Fill Space
.fill-horizontal{ width: 100%; }
.fill-vertical{ height: 100%; }

// Position
.center-vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical-rel{ 
  margin-top: 50%;
  transform: translateY(-50%);
}

.center-horizontal-rel{
  margin: 0 auto;
}

// Style
.circle{ border-radius: 50%; }

.border{
  position: absolute;

  &.bottom{
    bottom: -12px;
    left: 0;
  }
}