#app-nav{
  border-radius: 0;
  position: fixed;
  bottom: 0;
  z-index: 2;

  @media (min-width: $screen-sm-min){
    height: 4.6em;
    position: relative;
  }

  .fa{ 
    font-size: 3rem; 
    height: auto;
    margin-top: .2rem;
    display: block;

    &:before{ vertical-align: middle; }

    @media (min-width: $screen-sm-min){ margin-top: 0; }
  }

  span{
    display: none;
    font-size: 1rem;
    @media (min-width: $screen-sm-min){ display: block; }
  }

  ul{
    @media (min-width: $screen-sm-min){
      height: 4.6em;
    }
  }

  li{
    padding: 0;
    @media (min-width: $screen-sm-min){ height: 4.5em; }
    @extend .col-xs-2;
  }

  & + .tab-bar-push{
    @media (min-width: $screen-sm-min){ height: 4.6em; }
  }
}