textarea{ resize: none; }
input[type=email], input[type=password], input[type=text], textarea{
  margin-bottom: 1rem;
  color: white;
  box-shadow: 0 -2px 0 $blue-main;
  border: none;
  @include input-placeholder{
    color: white;
    text-transform:capitalize;
  }
  outline-color: $blue-light-a;
}

input.styled, textarea.styled{
  display: inline-block;
  width: 100%;
  max-width: 30em;
  font-size: 2rem;
  padding: 1.4rem 1.2rem;
  border-radius: 2px;

  &.short{ 
    width: 46%;

    &.margin-right{
      margin-right: 4%;
    }
    
    &.margin-left{
      margin-left: 4%;
      vertical-align: top;
    }
  }
}