.login{
  padding: 1.2rem;

  &.modal-window{ 
    width: 100%;
    background-color: $blue-x-light; 
    box-shadow: 0 0 10px #000;

    input[type=submit]{ margin: 1em 0; }

    .alt-login-option{
      margin-top: 2em;
    }
  }

  &.page{
    input[type=submit]{  margin: 3.28em 0 1.5em; }
    section{ margin-bottom: 3em; }
  }

  h2{
    text-align: center;
    margin-bottom: 2rem;
  }

  a.btn, input.btn{
    @extend input.styled;
  }

  .label-floatlabel.margin-left{ margin-left: 8%; }
}

.remember-me label, .forgot-password{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.remember-me{

  input[type=checkbox] {
    visibility: hidden;

    &:checked{
      & + label:before{ background-color: white; }
      & + label:after{ 
      color: $blue-main;
      left: .2em;
    }
    }
  }

  label{
    margin-left: 2rem;

    &:before, &:after{
      content: '';
      position: absolute;
      border-radius: 3px;
    }

    &:before{
      width: 2.4rem;
      height: 2.4rem;
      border: 1px solid white;
      left: .2rem;
      margin-top: -.25rem;
    }

    &:after{
      content: "\f00c";
      font-family: FontAwesome;
      left: -99999px;
      margin-top: -.25em;
    }
  }
}

.forgot-password{
  padding-top: 1.06em;

  a{
    border-bottom: 2px solid white;

    &:hover{
      text-decoration: none;
    }
  }
}