ul.reminder-list{ 
  overflow: auto; 
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  padding-left: 0;

  &.is-destroying{
    .resend-reminder, .edit-reminder{ display: none; }
    .destroy-reminder{ display: block; }
  }

  &.is-editing{
    .resend-reminder, .destroy-reminder{ display: none; }
    .edit-reminder{ display: block; }
  }

  &.padded{
    border-radius: 2px; 
    padding: 1em;
  }

  li{ 
    @extend .clearfix;
    position: relative;
    padding: .4em 0;
    border-bottom: 1px dashed rgba(255,255,255,.35);

    &:last-child{ border-bottom: none; }

    &.delivered .reminder-data{ 
      color: $gray-dark; 
      text-decoration: line-through;
    }
    &.failed .reminder-data{ color: $red-fail; }
  }

  .reminder-data{
    font-size: 1.8rem;
    @extend .hard-shadow;
    color: $blue-light;
    display: inline-block;
  }

  .resend-reminder, .destroy-reminder, .edit-reminder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }

  .destroy-reminder, .edit-reminder{ display: none; }
  .resend-reminder{ color: white; }
  .edit-reminder{ color: $yellow-edit; }
  .destroy-reminder{ color: $red-destroy; }
}

.reminder-list-headers{ 
  background-color: white;

  &.padded{ 
    padding-left: 1em; 
    padding-right: 1em;
  }

  .reminder-column{
    text-align: center;

    &:hover{ background-color: $eggshell-2; }
  }
  
  .reminder-column-label{ 
    display: inline-block;
    position: relative;
    font-weight: bolder;
    border: 0px solid;
    padding: 5px 0;
    color: $gray-dark;

    &.sortable:hover, &.active{ }
    &.asc:after, &.desc:after{
      font-family: FontAwesome;
      position: absolute;
      right: -1.2rem;
    }
    &.asc:after{
      content: "\f106";
    }

    &.desc:after{
      content: "\f107";
    }

  } 
}

ul.reminder-list, .reminder-list-headers{
  .reminder-column{ float: left; }
}

.edit-nav{
   color: white;

   i:hover, i.active{
    &.toggle-editable{ color: $yellow-edit; }
    &.toggle-destroy{ color: $red-destroy; }
    &.undo { color: $blue-light; }
   }
}

.edit i, .resend-reminder, .destroy-reminder, .edit-reminder{ 
  padding: 0;
  font-size: 2.8rem; 
  opacity: .25;
  @extend .hard-shadow;

  &:hover, &.active{ opacity: .65; }
}