#reminder-sidebar-toggle{
  position: absolute;
  top: 0;
  right: 0;

  i.fa{ 
    font-size: 3rem;
    padding: .2em;
    padding-right: .4em;
    @extend .bg-burn;
    color: $blue-light;

    &:hover{ color: $blue-main; }
  }
}

.sidr.reminder-sidebar{
  position: absolute;
  padding-top: 3em;

  .inner{
    padding-left: 2em;
  }

  .date{
    width: 40%;
    vertical-align: top;
  }

  .recipient{
    width: 60%;
  }
}

#reminder-edit-nav{
  li{
    position: relative;
  }

  i{
   font-size: 3rem;
   @extend .dodge;
   display: inline-block;
   height: auto;
   line-height: 50px;

   &:hover, &.active{
    &#toggle-editable{ color: $yellow-edit; }
    &#toggle-destroy{ color: $red-destroy; }
    &#undo { color: $blue-light; }
   }
  }
}