ul.reminder-list{ 
  //overflow: auto; 
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  padding-left: 0;

  &.is-destroying{
    .resend-reminder{ display: none; }
    .destroy-reminder{ display: initial; }
  }

  &.padded{
    border-radius: 2px; 
    padding: 1em;
  }

  li{ 
    @extend .clearfix;
    position: relative;
    padding: .4em 0;
    border-bottom: 1px dashed rgba(255,255,255,.35);

    &:last-child{ border-bottom: none; }

    &.delivered .reminder-data{ 
      color: $gray-dark; 
      text-decoration: line-through;
    }
    &.failed .reminder-data{ color: $red-fail; }
  }

  span.line{ display: block;  }

  .reminder-data{
    font-size: 1.8rem;
    @extend .hard-shadow;
    color: $blue-light;
    display: inline-block;
  }

  .resend-reminder, .destroy-reminder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }

  .resend-reminder{ color: white; }
  .destroy-reminder{
    display: none;
    color: $red-destroy;
  }
}

.reminder-list-headers{ 
  margin-top: 1.6em;

  &.padded{ 
    padding-left: 1em; 
    padding-right: 1em;
  }

  .reminder-column-label{ 
    display: inline-block;
    text-align: left;
    border-bottom: 2px solid white;
    padding: 0;
    padding-right: 1em;
    color: white;
  } 
}

ul.reminder-list, .reminder-list-headers{
  .reminder-column{ float: left; }
}

.edit-nav{
   color: white;

   i:hover, i.active{
    &.toggle-editable{ color: $yellow-edit; }
    &.toggle-destroy{ color: $red-destroy; }
    &.undo { color: $blue-light; }
   }
}

.edit i, .resend-reminder, .destroy-reminder{ 
    font-size: 3rem; 
    opacity: .25;
    @extend .hard-shadow;

    &:hover, &.active{ opacity: .65; }
  }