<div class="splash" id="index-splash">
  <section class="info-bar bg-burn center-vertical">
    <h1 class="white">Lorem Ipsum, Dolor.</h1>
    <section class="call-to-action">
      <span>SIGN UP NOW</span>
      <i class="fa fa-chevron-circle-right"></i>
    </section>
  </section>
  <section class="call-to-action scroll-down">
    <span>LEARN MORE</span>
    <i class="fa fa-chevron-circle-down"></i>
  </section>
</div>
<div class="gist">
  <i class="fa fa-laptop xl"></i>
  <i class="fa fa-mobile-phone xl"></i>
  <p class="serif">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
</div>
<div class="icon-bullet-points">
  <ul>
    <li>
      <i class="fa fa-pencil xl bg-blue-light circle"></i>
      <h3 class="gray-book"></h3>
      <p class="gray-book">Lorem ipsum dolor sit amet, his atqui doming adolescens ea. Vis ei docendi facilisi instructior. Quem maluisset his no. Sea Vidisse fastidii eu.</p>
    </li>
     <li>
      <i class="fa fa-group xl bg-blue-light circle"></i>
      <h3 class="gray-book"></h3>
      <p class="gray-book">Lorem ipsum dolor sit amet, his atqui doming adolescens ea. Vis ei docendi facilisi instructior. Quem maluisset his no. Sea Vidisse fastidii eu.</p>
    </li>
     <li>
      <i class="fa fa-lightbulb-o xl bg-blue-light circle"></i>
      <h3 class="gray-book"></h3>
      <p class="gray-book">Lorem ipsum dolor sit amet, his atqui doming adolescens ea. Vis ei docendi facilisi instructior. Quem maluisset his no. Sea Vidisse fastidii eu.</p>
    </li>
  </ul>
</div>
