.btn{ 
  border-radius: 1px; 
  font-weight: bold;
}
.btn-primary{ 
  background-color: $blue-main; 

  &:hover{
    background-color: darken($blue-main, 10%);
  }
}

.btn-default{ 
  color: $blue-main; 

  &:hover{
    color: $blue-main;
  }
}

.btn-hollow{
  background-color: rgba(255,255,255,.35);
  border: 1px solid $blue-main;
  color: $blue-main;

  &:hover{
    color: $blue-main;
    background-color: rgba(255,255,255,.6);
  }
}

.alert{
  padding: 0;
  margin: 0;
  border: none;
}

input[type=email], input[type=password]{
  border: none;
}

.nav > li > a{
  padding: 1rem 1.5rem;
}

.navbar-nav > li > a{
  padding-top: 1rem;
  padding-bottom: 1rem;
}