.btn{ 
  border-radius: 1px; 
  font-weight: bold;

  &.fat{
    padding-left: 3em;
    padding-right: 3em;
  }
}
.btn-primary{ 
  background-color: $blue-main; 

  &:hover{
    background-color: darken($blue-main, 10%);
  }
}

.btn-default{ 
  color: $blue-main; 

  &:hover{
    color: $blue-main;
  }
}

.btn-hollow{
  background-color: rgba(255,255,255,.35);
  border: 1px solid $blue-light;
  color: $blue-light;

  &:hover{
    color: $blue-main;
    border-color: $blue-main;
    background-color: rgba(255,255,255,.6);
  }
}

.alert{
  padding: 0;
  margin: 0;
  border: none;
}

input[type=email], input[type=password]{
  border: none;
}

.nav > li > a{
  padding: 1rem 1.5rem;
}

.navbar-nav > li > a{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tab-content section.space-bottom{ margin-bottom: 2em; }

a:focus{ outline: none; }