// Colors
$blue-main: #1a6fb0;
$blue-light: #5cb2e4;
$blue-light-a: rgba(92, 178, 228, .5);
$blue-x-light: #b0dbf6;
$blue-s-light: #daf1ff;
$gray-main: #b4b4b4;
$gray-book: #7f7f7f;
$gray-dark: #424242;
$gray-light: #c3c3c3;
$red-fail: salmon;
$red-destroy: red;
$yellow-edit: yellow;
$eggshell: #f2f2f2;
$burn: rgba(0,0,0,.3);
$dodge: rgba(255,255,255,.5);

.blue-main{ color: $blue-main; }
.bg-blue-main{ background-color: $blue-main; }

.blue-light{ color: $blue-light; }
.bg-blue-light{ background-color: $blue-light; }

.blue-light-a{ color: $blue-light-a; }
.bg-blue-light-a{ background-color: $blue-light-a; }

.blue-x-light{ color: $blue-x-light; }
.bg-blue-x-light{ background-color: $blue-x-light; }

.blue-s-light{ color: $blue-s-light; }
.bg-blue-s-light{ background-color: $blue-s-light; }

.gray-main{ color: $gray-main; }
.bg-gray-main{ background-color: $gray-main; }

.gray-book{ color: $gray-book; }
.bg-gray-book{ background-color: $gray-book; }

.gray-dark{ color: $gray-dark; }
.bg-gray-dark{ background-color: $gray-dark; }

.gray-light{ color: $gray-light; }
.bg-gray-light{ background-color: $gray-light; }

.eggshell { color: $eggshell; }
.bg-eggshell { background-color: $eggshell; }

.white { color: white; }
.bg-white{ background-color: white; }

.bg-burn { background-color: $burn; }

.dodge{ color: $dodge; }
.bg-dodge{ color: $dodge; }

// Grid
$max-width: 1280px;
$max-width-small: 960px;