label.label-floatlabel{
  animation: smooth-entry-short .3s;
  text-transform: capitalize;
  @extend .hard-shadow;
  color: $gray-light;

  &.focus{
    color: $blue-main !important;

    &.light{ color: $blue-light}
  }
}

.floatlabel-wrapper.inline{ display: inline-block; }
.floatlabel-wrapper.half{ width: 46%; }