label.label-floatlabel{
  animation: smooth-entry-short .3s;
  text-transform: capitalize;
  @extend .hard-shadow;
  color: $gray-light;

  &.focus{
    color: $blue-main !important;
  }
}

.floatlabel-wrapper.inline{
  display: inline-block;
}