<section class="date">
  <a href="#" data-type="text" data-pk="1" data-title="Delivery date" class="reminder-data is-editable">7/6/14</a>
</section>
<section class="recipient">
  <a href="#" data-type="text" data-pk="1" data-title="Recepient name" class="reminder-data is-editable">Sarah Lee</a>
  <a href="#" data-type="text" data-pk="1" data-title="Phone #" class="reminder-data is-editable">(972) 772 5142</a>
</section>