<section class="date reminder-column">
  <span class="line"><a href="#" data-type="text" data-pk="1" data-title="Delivery date" class="reminder-data is-editable">7/6/14</a></span>
</section>
<section class="recipient reminder-column">
  <span class="line"><a href="#" data-type="text" data-pk="1" data-title="Recepient name" class="reminder-data is-editable">Sarah Lee</a></span>
  <span class="line"><a href="#" data-type="text" data-pk="1" data-title="Phone #" class="reminder-data is-editable">(972) 772 5142</a></span>
</section>