<section class="name reminder-column">
  <span class="line"><a href="#" class="reminder-data is-editable">Sarah Lee</a></span>
</section>
<section class="phone-number reminder-column">
  <span class="line"><a href="#" class="reminder-data is-editable">(972) 772 5142</a></span>
</section>
<section class="last-reminded reminder-column">
  <span class="line"><span class="reminder-data">7/16/14</span></span>
</section>