<footer>
  <ul id="footer-nav" class="nav">
    <li>TOUR</li>
    <li>BLOG</li>
    <li>HELP</li>
    <li>TERMS OF SERVICE</li>
    <li>PRIVACY</li>
  </ul>
  <section id="creator-tag">
    <span class="white">LOVINGLY CRAFTERD BY</span>
    <section class="logo" id="creator-logo"></section>
    <small>© Lorem Ipsum, Inc.</small>
  </section>
</footer>