<footer id="page-footer" class="bg-blue-main">
  <section id="footer-nav">
    <ul class="nav outer-container inline-list">
      <li class="white">TOUR</li>
      <li class="white">BLOG</li>
      <li class="white">HELP</li>
      <li class="white">TERMS OF SERVICE</li>
      <li class="white">PRIVACY</li>
    </ul>
    <svg class="border bottom" width="100%" height="24">
      <line x1="0" x2="100%" y1="12" y2="12" stroke="#2a82c6" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10"/>
    </svg>
  </section>
  <section id="creator-tag">
    <span class="white">LOVINGLY CRAFTERD BY</span>
    <section class="logo">
      <picture alt="tennium" id="tennium-logo">
        <source src="/assets/tennium-logo.png">
        <source src="/assets/tennium-logo-2x.png" media="(min-resolution: 192dpi)">
        <noscript>
            <img src="/assets/tennium-logo.png" alt="tennium">
        </noscript>
      </picture>
    </section>
    <small class="blue-s-light">© Lorem Ipsum, Inc.</small>
  </section>
</footer>