<section class="clearfix reminder-list-headers padded">
  <section class="date reminder-column">
    <h5 class="reminder-column-label sortable active desc">Date</h5>
  </section>
  <section class="recipient reminder-column">
    <h5 class="reminder-column-label sortable">Recipient</h5>
  </section>
  <section class="edit reminder-column">
    <h5 class="reminder-column-label">Edit</h5>
  </section>
</section>