<div id="sidr" class="reminder-sidebar bg-burn">
  <h4 class="white hard-shadow">Upcoming Reminders</h4>
  <section class="clearfix column-headers">
    <section class="date">
      <h5 class="label">Date</h5>
    </section>
    <section class="recipient">
      <h5 class="label">Recipient</h5>
    </section>
  </section>
  <ul class="reminder-list">
    <li><a>
      <section class="date">
        <span>7/6/14</span>
      </section>
      <section class="recipient">
        <span>Sarah Lee</span>
        <span>(972) 772 5142</span>
      </section>
    </a></li>
    <li class="delivered"><a>
      <section class="date">
        <span>7/4/14</span>
      </section>
      <section class="recipient">
        <span>John Doe</span>
        <span>(214) 901 6983</span>
      </section>
    </a></li>
    <li class="failed"><a>
      <section class="date">
        <span>7/3/14</span>
      </section>
      <section class="recipient">
        <span>Greg Andrews</span>
        <span>(489) 430 0071</span>
      </section>
    </a></li>
    <li class="delivered"><a>
      <section class="date">
        <span>7/3/14</span>
      </section>
      <section class="recipient">
        <span>Lynn Flint</span>
        <span>(972) 978 3111</span>
      </section>
    </a></li>
  </ul>
  <nav id="reminder-edit-nav" class="navbar navbar-inverse tab-bar natural-shadow-box" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav float-none-cascade center-text">
        <%= fa_icon "pencil" %>
        <%= fa_icon "pencil" %>
        <%= fa_icon "pencil" %>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>