<div class="row-fluid clearfix reminder-list-headers padded">
  <section class="date reminder-column">
    <span class="reminder-column-label sortable active desc">Date</span>
  </section>
  <section class="recipient reminder-column">
    <span class="reminder-column-label sortable">Recipient</span>
  </section>
  <section class="edit reminder-column">
    <span class="reminder-column-label">Edit</span>
  </section>
</div>