<div class="send-later">
  <h2 class="title white hard-shadow center-text">When to send</h4>
  <form class="send-later-date clearfix">
    <section class="input-wrapper">
      <input class="floatlabel styled bg-blue-light-a" type="text" placeholder="Month" data-label="MM" />
    </section>
    <section class="input-wrapper">
      <input class="floatlabel styled bg-blue-light-a" type="text" placeholder="Day" data-label="DD" />
    </section>
    <section class="input-wrapper">
      <input class="floatlabel styled bg-blue-light-a" type="text" placeholder="Year" data-label="YYYY" />
    </section>
    <section class="input-wrapper float-right">
      <input class="btn btn-default styled" type="submit">
    </section>
  </form>
</div>