<div id="send-page" class="app-page splash full-page-app">
  <div class="outer-container">
    <form class="new-reminder center-horizontal-rel smooth-entry">
      <h2 class="title white smooth-entry hard-shadow">Send a reminder.</h2>
      <input class="floatlabel styled bg-blue-light-a" placeholder="To" data-label="Recepient" type="text" />
      <input class="floatlabel styled bg-blue-light-a" placeholder="Phone #" type="text" />
      <h4 class="white hard-shadow left-text">Reminder:</h4>
      <textarea class="floatlabel styled bg-blue-light-a" placeholder="Your message..." data-label="Max char. 140"></textarea>
      <input class="col-md-6 col-sm-6 col-xs-6 btn btn-hollow" name="Send Now" value="Send Now" type="submit" />
      <%= link_to_modal "Send Later", '/send-later', name: 'Send Letter', class: 'col-md-6 col-sm-6 col-xs-6 btn btn-default' %>
    </form>

    <a class="hash-nav" id="reminder-sidebar-toggle" href="#sidr"><%= fa_icon "chevron-left", class: 'hard-shadow' %></a>
  </div>
  
  <%=render :partial=>"/layouts/reminder_sidebar"%>
</div>