<div id="send-page" class="splash full-page">
  <div class="outer-container">
    <h2 class="title white smooth-entry hard-shadow">Send a reminder.</h2>
    <form class="new-reminder center-horizontal-rel smooth-entry">
      <input class="floatlabel styled bg-blue-light-a" placeholder="To" data-label="Recepient" type="text" />
      <input class="floatlabel styled bg-blue-light-a" placeholder="Phone #" type="text" />
      <h4 class="white hard-shadow left-text">Reminder:</h4>
      <textarea class="floatlabel styled bg-blue-light-a" placeholder="Your message..." data-label="Max char. 140"></textarea>
      <input class="col-md-6 col-sm-6 col-xs-6 btn btn-hollow" name="Send Now" value="Send Now" type="submit" />
      <a class="col-md-6 col-sm-6 col-xs-6 btn btn-default" name="Send Later" >Send Later</a>
    </form>
  </div>
</div>